<div class="container">
    <div class="row">
      <div class="col">
        <div >
          {{indice+1}}: {{empleadoDeLista.nombre}} {{empleadoDeLista.apellido}} {{empleadoDeLista.cargo}} {{empleadoDeLista.salario}}
          <a [routerLink]="['/actualiza',indice]" [queryParams]="{accion:'1'}"><!--Le pasamos el indice a través de la url, para más tarde buscar el empleado por el id-->
          Actualiza
          </a>
          &nbsp;&nbsp;
          <a [routerLink]="['/actualiza',indice]" [queryParams]="{accion:'2'}"><!--Le pasamos el indice a través de la url, para más tarde buscar el empleado por el id-->
          Elimina
          </a>
        </div>
        <app-caracteristicas-empleado-c (caracteristicasEmpleados)="agregarCaracteristica($event)"></app-caracteristicas-empleado-c>
        <ul style="list-style: none ;">
          <li *ngFor="let caracteristica of arrayCaracteristicas ">{{caracteristica}}</li>
        </ul>
      </div>
    </div>
</div>
